:root {
  --background: #FFF;
  --light-blue: #abd3fe;
  --gray: #ededed;
  --coral: #fc8282;
}

@font-face {
  font-family: 'Satoshi';
  src: url(./fonts/Satoshi.ttf);
}

body {
 font-family: 'Satoshi';
 background-color: var(--background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.user {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 10px;
}

input {
  border: none;
  border-bottom: 2px solid;
  border-color: var(--coral);
  outline: none;
  border-radius: 0px;
  margin-bottom: 10px;
  background-color: var(--light-blue);
}

::placeholder {
  color: black;
}

button {
  appearance: none;
  background-color: var(--coral);
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  color: white;
  cursor: pointer;
  font-family: "Satoshi";
  font-size: 14px;
  padding: 6px 16px;
  margin-top: 10px;
}

h3 {
  margin-top: -10px
}

.adduser-container {
  background-color: var(--light-blue);
  width: 20%;
  border-radius: 12px;
  padding: 20px;
}

.users-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin: 40px;
}

.headline {
  color: var(--light-blue);
}
